@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap&#39');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Oxanium', cursive;
}

body{
    background: linear-gradient(rgb(45, 136, 255), rgb(255, 255, 255));
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#poke{
    position: absolute;
}

input{
    position: absolute;
    top: 60vh;
}
button{
    position: absolute;
}

p{
    color: rgb(88, 88, 88);
}
div{
    position: absolute;
}